{% extends "base.html" %}

{% block title %}Статистика{% endblock %}

{% block content %}


    <!-- Main Content -->
    <div class="container">
        <div class="statistics-container">
            <h1>Общая Статистика</h1>
            <div class="stat-item">
                <strong>Total Employees:</strong> {{ stats.total_employees }}
            </div>
            <div class="stat-item">
                <strong>Total Clients:</strong> {{ stats.total_clients }}
            </div>
            <div class="stat-item">
                <strong>Total Appeals:</strong> {{ stats.total_support_tickets }}
            </div>
            <div class="stat-item">
                <strong>Appeals Waiting:</strong> {{ stats.appeals_waiting }}
            </div>
            <div class="stat-item">
                <strong>Appeals Processing:</strong> {{ stats.appeals_processing }}
            </div>
            <!-- Add other statistics as needed -->
        </div>
    </div>

{% endblock %}
